

html {
    font-family: 'Merriweather', serif;
};

table {

    display: flex;
    text-align: start;
    
}

#header {

    height: 3em;
    width: 100%;
    border: none;
    background-color: blue;
    color: white;
    text-align: center;

};

#rightSide {

    display: inline-block;
    justify-content: end;
}

#leftSide {

display:flex;
justify-content: flex-start;
text-align: start;
}

#todayCityWethr {

height: 20px;
width: 20ps;
background-color: blanchedalmond;
color: black;
text-align: start;

}
/* <!-- Code by w3codegenerator.com --> */
#startBtn {
   font-size:20px;
   font-weight:bold;
   line-height:20px;
   color:#ffffff;
   background-color:#82005f;
   padding:20px;
}




