

html {
    font-family: 'Merriweather', serif;
};

table {

    display: flex;
    text-align: start;
    
}

#header {

    height: 3em;
    width: 100%;
    border: none;
    background-color: blue;
    color: white;
    text-align: center;

};

#rightSide {

    display: inline-block;
    justify-content: end;
}

#leftSide {

display:flex;
justify-content: flex-start;
text-align: start;
}

#todayCityWethr {

height: 20px;
width: 20ps;
background-color: blanchedalmond;
color: black;
text-align: start;

}
#startBtn {

    height: 10px;
    width: 30px;
    background-color: red;
    color: white;
}



